@font-face {
    font-family: "Futura Cyrillic Heavy";
    src: url("/Font/FuturaCyrillicHeavy.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Futura Cyrillic Medium";
    src: url("/Font/FuturaCyrillicMedium.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Futura Cyrillic Light";
    src: url("/Font/FuturaCyrillicLight.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Futura Cyrillic Book";
    src: url("/Font/FuturaCyrillicBook.ttf") format("truetype");
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart {
    background-color: #EEEEEE;
    height: min-content;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 40px 0;
}

.cart-left {
    height: min-content;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-left-items {
    height: min-content;
    width: 100%;
}

.cart-left-top {
    background-color: #fff;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 25px;
    margin-top: 10px;
}

.cart-left-top p {
    font-family: "Futura Cyrillic Heavy";
    font-size: 19px;
    color: #2d2d2d;
    letter-spacing: 3px;
}


.cart-products {
    background-color: #fff;
    height: 185px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #2d2d2d18;
}

.cart-products-image {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-products-image img{
    height: 140px;
    width: 110px;
    object-fit: contain;
}

.cart-products-details {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
    z-index: 7;
    gap: 8px;
    padding-right: 25px;
}

.cart-products-details h4{
    width: 100%;
    color: #2d2d2d;
    font-family: "Futura Cyrillic Heavy";
    font-size: 17px;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
}

.cart-products-details h4 span{
    font-family: "Futura Cyrillic Medium";
    font-size: 18px;
    cursor: pointer;
}

.cart-products-details p{
    color: #2d2d2d;
    font-size: 16px;
    font-family: "Futura Cyrillic Book";
    letter-spacing: 1px;
}

.cart-products-details h5{
    font-family: "Futura Cyrillic Light";
    font-size: 14px;
    color: #2d2d2d18;
}

.cart-products-details button{
    height: 27px;
    width: 120px;
    background-color: transparent;
    color: #2d2d2d;
    border: 1px solid #2d2d2d62;
    outline: none;
    font-family: "Futura Cyrillic Book";
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 6;
}

.cart-products-details button:hover{
    background-color: #ce4343;
    color: #fff;
}

.cart-product-spec{
    display: flex;
    gap: 10px;
}

.cart-product-spec select{
    height: 22px;
    width: 40px;
    font-family: "Futura Cyrillic Book";
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

.cart-left-bottom {
    background-color: #fff;
    height: 120px;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.cart-left-bottom-icon {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.cart-left-bottom-icon img {
    height: 38px;
    width: 38px;
    object-fit: contain;
}

.cart-left-bottom-des {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    gap: 3px;
}

.cart-left-bottom-des p {
    font-family: "Futura Cyrillic Heavy";
    font-size: 18px;
    letter-spacing: 2px;
    color: #2d2d2d;
}

.cart-left-bottom-des h4 {
    font-family: "Futura Cyrillic Light";
    font-size: 16px;
    margin-top: 3px;
    color: #2d2d2d;
    letter-spacing: 1px;

}

.cart-left-bottom-des h5 {
    font-family: "Futura Cyrillic Light";
    font-size: 16px;
    text-decoration: underline;
    text-underline-offset: 2px;
    color: #2d2d2d;
    letter-spacing: 1px;
    cursor: pointer;
}

.cart-right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    position: sticky;
    top: 10px;
    position: relative;
    z-index: 7;
}

.checkout-box {
    background-color: #fff;
    height: 320px;
    width: 97%;
    height: auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    position: relative;
    z-index: 8;
}

.checkout-box-head {
    height: 22%;
    width: 85%;
    color: #2d2d2d;
    font-family: "Futura Cyrillic Heavy";
    font-size: 19px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}

.sub-total {
    height: 20%;
    width: 85%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #bebcbc8a;
    padding-bottom: 15px;
}

.sub-total-section {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-total-section h4 {
    font-family: "Futura Cyrillic Heavy";
    font-size: 16px;
    letter-spacing: 1.5px;
}

.sub-total-section p {
    font-family: "Futura Cyrillic Book";
    font-size: 16px;
    letter-spacing: 1.5px;

}

.checkout-btn {
    height: 20%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
}

.checkout-btn button {
    background-color: #018849;
    color: #fff;
    height: 45px;
    width: 98%;
    font-family: "Futura Cyrillic Heavy";
    font-size: 16px;
    letter-spacing: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 6;
}

.checkout-btn button:hover {
    background-color: #026e3c;
}

.accepted-cards {
    height: 30%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
}

.accepted-cards h4 {
    font-family: "Futura Cyrillic Heavy";
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #2d2d2d;
}

.accepted-cards-img {
    height: min-content;
    width: 100%;
    display: flex;
    gap: 5px;
}

.accepted-cards-img img {
    object-fit: contain;
    height: 20px;
    width: 30px;
}

.accepted-cards p {
    font-family: "Futura Cyrillic Book";
    font-size: 16px;
    color: #2d2d2d;
}

.qty-control{
    height: 25px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #adadad;
}

.qty-control button{
    height: 100%;
    width: 30%;
    border: none;
    outline: none;
}

.qty-control button:hover{
    background-color: #adadad;
    cursor: pointer;
}

.qty-input {
  width: 40px;
  text-align: center;
  border: none;
  background: transparent;
  font-weight: bold;
  font-family: "Futura Cyrillic Book";
    font-size: 15px;
    color: #2d2d2d;
}