@font-face {
    font-family: "Futura Cyrillic Heavy";
    src: url("/Font/FuturaCyrillicHeavy.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Futura Cyrillic Medium";
    src: url("/Font/FuturaCyrillicMedium.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Futura Cyrillic Light";
    src: url("/Font/FuturaCyrillicLight.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Futura Cyrillic Book";
    src: url("/Font/FuturaCyrillicBook.ttf") format("truetype");
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart {
    background-color: #EEEEEE;
    height: 1020px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-left {
    height: 1000px;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-left-top {
    background-color: #fff;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.cart-left-top p {
    font-family: "Futura Cyrillic Heavy";
    font-size: 20px;
    color: #2d2d2d;
    letter-spacing: 3px;
}

.cart-left-items {
    background-color: aqua;
    height: 800px;
    width: 100%;
}

.cart-left-bottom {
    background-color: #fff;
    height: 120px;
    width: 100%;
    display: flex;
}

.cart-left-bottom-icon {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.cart-left-bottom-icon img {
    height: 38px;
    width: 38px;
    object-fit: contain;
}

.cart-left-bottom-des {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    gap: 3px;
}

.cart-left-bottom-des p {
    font-family: "Futura Cyrillic Heavy";
    font-size: 18px;
    letter-spacing: 2px;
    color: #2d2d2d;
}

.cart-left-bottom-des h4 {
    font-family: "Futura Cyrillic Light";
    font-size: 16px;
    margin-top: 3px;
    color: #2d2d2d;
    letter-spacing: 1px;

}

.cart-left-bottom-des h5 {
    font-family: "Futura Cyrillic Light";
    font-size: 16px;
    text-decoration: underline;
    text-underline-offset: 2px;
    color: #2d2d2d;
    letter-spacing: 1px;
    cursor: pointer;
}

.cart-right {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    padding-top: 10px;
}

.checkout-box {
    background-color: #fff;
    height: 325px;
    width: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkout-box-head {
    height: 22%;
    width: 85%;
    color: #2d2d2d;
    font-family: "Futura Cyrillic Heavy";
    font-size: 19px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}

.sub-total {
    height: 28%;
    width: 85%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #bebcbc4b;
    border-bottom: 1px solid #bebcbc8a;
}

.sub-total-section {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-total-section h4 {
    font-family: "Futura Cyrillic Heavy";
    font-size: 16px;
    letter-spacing: 1.5px;
}

.sub-total-section p {
    font-family: "Futura Cyrillic Book";
    font-size: 16px;
    letter-spacing: 1.5px;

}

.checkout-btn {
    height: 20%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
}

.checkout-btn button {
    background-color: #018849;
    color: #fff;
    height: 45px;
    width: 98%;
    font-family: "Futura Cyrillic Heavy";
    font-size: 16px;
    letter-spacing: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 6;
}

.checkout-btn button:hover {
    background-color: #026e3c;
}

.accepted-cards {
    height: 30%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
}

.accepted-cards h4 {
    font-family: "Futura Cyrillic Heavy";
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #2d2d2d;
}

.accepted-cards-img {
    height: min-content;
    width: 100%;
    display: flex;
    gap: 5px;
}

.accepted-cards-img img {
    object-fit: contain;
    height: 20px;
    width: 30px;
}

.accepted-cards p {
    font-family: "Futura Cyrillic Book";
    font-size: 16px;
    color: #2d2d2d;
}