* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.women-banner {
    background-image: url(../../assets/womenBanner.jpg);
    height: 790px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: filter 0.3s ease;
    z-index: 5;
}

.women-banner.blurred {
    filter: blur(3px);
    pointer-events: none;
}