@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
.page-transition {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Animation for forward (Signup -> Login) */
.page-enter {
  transform: translateX(100%);
}
.page-enter-active {
  transform: translateX(0%);
  transition: transform 0.6s ease-in-out;
}
.page-exit {
  transform: translateX(0%);
}
.page-exit-active {
  transform: translateX(-100%);
  transition: transform 0.6s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}