* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.men-banner {
    background-image: url(../../assets/Men_Banner.jpg);
    height: 790px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: filter 0.3s ease;
    margin-top: 180px;
}

.men-banner.blurred {
    filter: blur(3px);
    pointer-events: none;
}