*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.men-brands-container {
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.men-brands {
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap; 
}

.men-brands img {
  object-fit: contain;
  height: 220px;
  width: 190px;
}