@font-face {
    font-family: "Futura Cyrillic Heavy";
    src: url("/Font/FuturaCyrillicHeavy.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Futura Cyrillic Medium";
    src: url("/Font/FuturaCyrillicMedium.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Futura Cyrillic Light";
    src: url("/Font/FuturaCyrillicLight.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Futura Cyrillic Book";
    src: url("/Font/FuturaCyrillicBook.ttf") format("truetype");
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.men-item-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.men-items{
    height: min-content;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    padding: 60px 0;
    gap: 30px;
}

.men-item-card{
    height: 500px;
    width: 330px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    position: relative;
}

.men-item-card img{
    object-fit: cover;
    height: 420px;
    width: 100%;
}

.men-item-card p{
    font-family: "Futura Cyrillic Medium";
    font-size: 14px;
    letter-spacing: 1px;
    color: #2d2d2d;
    cursor: pointer;
}

.men-item-card span{
    font-family: "Futura Cyrillic Heavy";
    font-size: 16px;
    letter-spacing: 1px;
    color: #000;
}