@font-face {
    font-family: "Futura Cyrillic Medium";
    font-family: "Futura Cyrillic Light";
    src: url("/Font/FuturaCyrillicMedium.ttf") format("truetype");
    src: url("/Font/FuturaCyrillicLight.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.miniNav-container {
    background-color: #f8f8f8;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1100px;
}

.miniNav-contents {
    /* background-color: #f8f8f8; */
    background-color: yellow;
    height: 100%;
    width: 165px;
    border-right: 1px solid #666;
    border-left: 1px solid #666;
    display: flex;
}

.miniNav-contents-left {
    background-color: transparent;
    color: #666;
    height: 100%;
    width: 115px;
    border-right: 1px solid #666;
    display: flex;
    align-items: center;
    justify-content: center;
}

.miniNav-contents-left p{
    font-family: "Futura Cyrillic Light";
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}

.miniNav-contents-right {
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.miniNav-contents-right img{
    height: 15px;
    width: 15px;
    object-fit: cover;
}