@font-face {
    font-family: "Futura Cyrillic Heavy";
    src: url("/Font/FuturaCyrillicHeavy.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Futura Cyrillic Medium";
    src: url("/Font/FuturaCyrillicMedium.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Futura Cyrillic Light";
    src: url("/Font/FuturaCyrillicLight.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Futura Cyrillic Book";
    src: url("/Font/FuturaCyrillicBook.ttf") format("truetype");
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.miniNav-container {
    background-color: #f8f8f8;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1100px;
}

.miniNav-contents {
    background-color: #f8f8f8;
    height: 100%;
    width: 165px;
    border-right: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    display: flex;
}

.miniNav-contents-left {
    background-color: transparent;
    color: #666;
    height: 100%;
    width: 115px;
    border-right: 1px solid #c0c0c0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.miniNav-contents-left p {
    font-family: "Futura Cyrillic Light";
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}

.miniNav-contents-left p:hover {
    color: #007aff;
    cursor: pointer;
}

.miniNav-contents-right {
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.miniNav-contents-right img {
    height: 15px;
    width: 15px;
    object-fit: cover;
    cursor: pointer;
}


/* Main Nav  */
.nav-container {
    background-color: #2d2d2d;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;
}

.nav-contents {
    height: 100%;
    width: 66%;
    display: flex;
}

.logo {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 20px;
    width: 68px;
    object-fit: contain;
    filter: invert(1);
}

.sections {
    height: 100%;
    width: 15%;
    display: flex;
    border-left: 1px solid #525050;
    border-right: 1px solid #525050;
}

.section-left,
.section-right {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.section-left:hover {
    background-color: #3d3d3d;
}

.section-right {
    background-color: #525050;
}

.section-left p,
.section-right p {
    color: #fff;
    font-family: "Futura Cyrillic Heavy";
    font-size: 16px;
    letter-spacing: 1px;
}

.search-container {
    height: 100%;
    width: 64%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar {
    background-color: #fff;
    height: 40px;
    width: 97%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap: 10px;
}

.searchbar img {
    height: 20px;
    width: 20px;
    object-fit: contain;
    cursor: pointer;
}

.searchbar input {
    color: #525050;
    font-family: "Futura Cyrillic Light";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    height: 30px;
    width: 93%;
    border: none;
    outline: none;
}

.searchbar input::placeholder{
    color: #525050;
    font-family: "Futura Cyrillic Light";
}

.nav-links {
    height: 100%;
    width: 11%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.nav-links img {
    object-fit: contain;
    height: 20px;
    width: 20px;
    cursor: pointer;
    position: relative;
    z-index: 9;
}

.cart-qty p{
    font-family: "Futura Cyrillic Medium";
    color: #fff;
    font-size: 10px;
    position: absolute;
    z-index: 99;
    right: 356px;
    top: 56px;
    cursor: pointer;
}


/* Categories Nav  */
.ctgry-nav {
    background-color: #525050;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.category-nav-container {
    height: 100%;
    width: 63%;
}

.category-nav-container button {
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    height: 100%;
    padding: 10px;
    font-family: "Futura Cyrillic Book";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.category-nav-container button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #525050;
}

/* Category Tiles  */
.sale-tile {
    position: absolute;
    z-index: 9999;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}

.sale-tile.active{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.sale-tile-container {
    background-color: #fff;
    height: 100%;
    width: 63%;
    display: flex;
    border: 1px solid #dbdbdb;
    border-top: none;
}

.category-nav-container button.active-btn {
    background-color: #fff;
    color: #000;
}

.sale-tile-container hr {
    height: 80%;
}

.tile-section {
    height: 100%;
    width: 24%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tile-section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tile-section ul li {
    font-family: "Futura Cyrillic Book";
    font-size: 15px;
    color: #525050;
}

.tile-section ul li:hover {
    color: #007aff;
    cursor: pointer;
}

.tile-section h3 {
    font-family: "Futura Cyrillic Heavy";
    font-size: 16px;
    color: #525050;
    letter-spacing: 1px;
}

/* Bottom Nav  */
.btm-nav {
    background-color: #fff;
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btm-nav p {
    color: #000;
    font-family: "Futura Cyrillic Medium";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
}

/* Drop Menu  */
.profile-icon-container {
    position: relative;
    z-index: 500;
    display: inline-block;
    cursor: pointer;
    margin-top: 3px;
}

/* Dropdown */
.profile-dropdown {
    position: absolute;
    top: 100%;
    right: 1;
    background-color: #fff;
    border: 1px solid #5250503b;
    z-index: 999;
    width: 170px;
    height: 100px;
    display: flex;
    flex-direction: column;
    transform: translateY(5px);
}

.profile-dropdown-top {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-bottom: 1px solid #5250503b;
}

.profile-dropdown-top p {
    color: #525050;
    font-family: "Futura Cyrillic Medium";
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: color 0.2s ease;
}

.profile-dropdown-top p:hover {
    color: #007aff;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.profile-dropdown-btm {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 15px;
}

.drp-section {
    height: min-content;
    width: 100%;
    display: flex;
    gap: 10px;
}

.drp-section img {
    height: 12px;
    width: 12px;
    object-fit: contain;
    filter: brightness(0);
    margin-top: 4px;

}

.drp-section p {
    font-family: "Futura Cyrillic Medium";
    font-size: 18px;
    letter-spacing: 1px;
    color: #525050;
}

.drp-section p:hover {
    color: #007aff;
}