@font-face {
    font-family: "Futura Cyrillic Heavy";
    src: url("/Font/FuturaCyrillicHeavy.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Futura Cyrillic Medium";
    src: url("/Font/FuturaCyrillicMedium.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Futura Cyrillic Light";
    src: url("/Font/FuturaCyrillicLight.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Futura Cyrillic Book";
    src: url("/Font/FuturaCyrillicBook.ttf") format("truetype");
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.miniNav-container {
    background-color: #f8f8f8;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1100px;
}

.miniNav-contents {
    background-color: #f8f8f8;
    height: 100%;
    width: 165px;
    border-right: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    display: flex;
}

.miniNav-contents-left {
    background-color: transparent;
    color: #666;
    height: 100%;
    width: 115px;
    border-right: 1px solid #c0c0c0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.miniNav-contents-left p {
    font-family: "Futura Cyrillic Light";
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}

.miniNav-contents-left p:hover {
    color: #007aff;
    cursor: pointer;
}

.miniNav-contents-right {
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.miniNav-contents-right img {
    height: 15px;
    width: 15px;
    object-fit: cover;
    cursor: pointer;
}


/* Main Nav  */
.nav-container {
    background-color: #2d2d2d;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-contents {
    height: 100%;
    width: 66%;
    display: flex;
}

.logo {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 20px;
    width: 68px;
    object-fit: contain;
    filter: invert(1);
}

.sections {
    height: 100%;
    width: 15%;
    display: flex;
    border-left: 1px solid #525050;
    border-right: 1px solid #525050;
}

.section-left,
.section-right {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.section-left:hover {
    background-color: #646464;
}

.section-right {
    background-color: #525050;
}

.section-left p,
.section-right p {
    color: #fff;
    font-family: "Futura Cyrillic Heavy";
    font-size: 16px;
    letter-spacing: 1px;
}

.search-container {
    height: 100%;
    width: 64%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar {
    background-color: #fff;
    height: 40px;
    width: 97%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap: 10px;
}

.searchbar img {
    height: 20px;
    width: 20px;
    object-fit: contain;
    cursor: pointer;
}

.searchbar input {
    font-family: "Futura Cyrillic Light";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    height: 30px;
    width: 93%;
    border: none;
    outline: none;

}

.nav-links {
    height: 100%;
    width: 11%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.nav-links img {
    object-fit: contain;
    height: 20px;
    width: 20px;
    cursor: pointer;
}


/* Categories Nav  */
.ctgry-nav {
    background-color: #525050;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-nav-container {
    height: 100%;
    width: 63%;
}

.category-nav-container button {
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    height: 100%;
    padding: 10px;
    font-family: "Futura Cyrillic Book";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.category-nav-container button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #525050;
}

/* Bottom Nav  */
.btm-nav {
    background-color: #fff;
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btm-nav p {
    color: #000;
    font-family: "Futura Cyrillic Medium";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
}