*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.social-container{
    height: 60px;
    width: 100%;
    display: flex;
    border-top: 0.5px solid #ebebeb;
    align-items: center;
    justify-content: center;

}

.social-left{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.social-left-logos{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 60px;
    padding-right: 50px;
}

.social-left-logos img{
    object-fit: contain;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.social-left-logos img:hover{
    transform: scale(1.1);
}

.social-right{
    height: 100%;
    width: 50%;
}

.social-right-logos{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
    padding-left: 50px;
}

.social-right-logos img{
    object-fit: contain;
    height: 20px;
    width: 30px;
}

.social-line{
    color: #000;
    height: 25px;
}